* {
    margin: 0;
    padding: 0;
}


#banner {
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100px;
    padding: 12em 0 29em;
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;

}

#banner h2 {
    color: #ffffff;
    font-size: 130pt;
    line-height: 1em;
    letter-spacing: 15px;
    position: relative;
    margin: auto;
    top: 80px;
    opacity: .6;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: 1000;

}

#banner p {
    position: relative;
    text-align: center;
    margin: auto;
    top: 100px;
    font-size: 26pt;
    letter-spacing: 5px;
    opacity: .6;
}

#logo {
    position: relative;
    float: left;
}


header {
    position: absolute;
    left: 0;
    top: 20px;
    left: 40px;
    right: 30px;
}

header ul {
    position: relative;
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #CCEEFF;
    font-size: 10pt;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 3px;
}

#mid {
    background-color: #3ba666;
    -moz-background-image: linear-gradient(60deg, #0066cc 50%, #3ba666 50%);
    -webkit-background-image: linear-gradient(60deg, #0066cc 50%, #3ba666 50%);
    -o-background-image: linear-gradient(60deg, #0066cc 50%, #3ba666 50%);
    -ms-background-image: linear-gradient(60deg, #0066cc 50%, #3ba666 50%);
    background-image: linear-gradient(60deg, #0066cc 50%, #3ba666 50%);
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
}
