* {
    margin: 0;
}

#banner {
    background: url(../img/know_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100px;
    padding: 12em 0 29em;
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;
}

.logo {
    position: relative;
    float: left;
}

header {
    position: absolute;
    left: 0;
    top: 20px;
    left: 40px;
    right: 30px;
    /*background: rgb(243, 204, 255);*/
}

header ul {
    position: relative;
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #CCEEFF;
    font-size: 12pt;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 3px;
    padding: 3px;
}

#home:hover {
    color: #66b3ff;
    border-bottom: 5px #0072e3 solid;
}

#food:hover {
    color: #ff7575;
    border-bottom: 5px #ff2d2d solid;
}

#place:hover {
    color: #ffdc35;
    border-bottom: 5px #ffd306 solid;
}

#shop:hover {
    color: #70AD47;
    border-bottom: 5px #70AD47 solid;
}

#know:hover {
    color: #D2B48C;
    border-bottom: 5px #8A6D58 solid;
}

#banner p {
    font-family: 'Squada One', cursive;
    font-size: 80px;
    color: rgba(218, 216, 216, 0.623);
    top: 550px;
    left: -170px;
    position: relative;
}

article {
   /* background: rgb(175, 149, 129);*/
    border: 1px solid rgba(0, 0, 0, 0);
}

.middle_info p {
    margin: 100px 214px;
    font-size: 15pt;
    background: rgb(148, 117, 94);
    padding: 15px;
    color:rgb(245, 237, 237);
    box-shadow: 20px 20px rgb(97, 71, 52);
    text-align: justify;
    text-justify: inter-ideograph;
}

.main {
    background-color: rgb(223, 214, 207);
    position: relative;
    width: auto;
    max-height: 1140px;
    padding: 70px 0;
}

.info_1,
.info_2,
.info_3 {
    margin: 0 214px 65px 214px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.info_1_picture,
.info_3_picture {
    float: left;
}

.info_1_context,
.info_3_context {
    position: relative;
    border: 3px dotted rgb(227, 231, 222);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    margin: 37px 0px 37px 442px;
    padding: 20px 50px;
    height: 215px;
    max-height: 248px;
}

.info_2_picture {
    position: absolute;
    right: 214px;
    top: 475px;
}

.info_2_context {
    position: relative;
    border: 3px dotted rgb(227, 231, 222);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    margin: 37px 442px 37px 0px;
    padding: 20px 50px;
    height: 215px;
    max-height: 248px;

}

.info_1 h2,
.info_2 h2,
.info_3 h2 {
    padding-top: 5px;
    font-size: 16px;
    font-family: Arial;
}

.info_1 p,
.info_2 p,
.info_3 p {
    padding-top: 10px;
    font-size: 14px;
    font-family: Arial;
    text-align: justify;
    text-justify: inter-ideograph;
}

.info_1 h3,
.info_2 h3,
.info_3 h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #889e39;
    border: 1px solid #a8c443;
    border-radius: 5px;
    margin-left: 173px;
    margin-top: 10px;
    padding: 7px;
}

.info_1 a,
.info_2 a,
.info_3 a {
    text-decoration: none;
}

/*.info_3 a:hover{
    color: indianred;
}*/

.footer {
    height: 180px;
    background: #222222;
    color: #e6dfdf;
}

.footer h3 {
    font-family: "Arial";
    font-size: 16px;
    text-align: left;
    padding-top: 40px;
}

.left h3,
.right h3 {
    height: 50px;
}

.left p {
    font-family: "Arial";
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}

.left_text {
    margin-top: 0px;
}

.left {
    float: left;
    margin-right: 285px;
    margin-left: 245px;
}

.right {
    float: left;
}

.bottom {
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    color: #afaaaa;
    height: 20px;
    padding: 10px 0 20px 0;
    background: #222222;
}
